@import "tailwindcss";
@plugin "daisyui";

/* @utility v-carousel {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility v-item {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
} */

@layer utilities {
  @keyframes spin-slow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  .animate-spin-slow {
    animation: spin-slow 12s linear infinite;
  }
}

@keyframes scan {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-scan {
  animation: scan 2s linear infinite;
}